@model ABCRetailWebApp.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="PartitionKey" />
    <input type="hidden" asp-for="RowKey" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="newImageFile">Update Product Image (optional)</label>
        <input type="file" name="newImageFile" id="newImageFile" class="form-control" />
        <br />
    </div>

    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
        <a asp-action="Details" asp-route-partitionKey="@Model.PartitionKey" asp-route-rowKey="@Model.RowKey" class="btn btn-secondary">Back to Details</a>
    </div>
</form>

<div>
    
</div>
